{% extends "base.html" %}

{% block body %}

<h1>MONOLITH P&ID</h1>
<div style="display: flex; width: 100%;">
    {# ############# SEQUENCES ############## #}
    <div id="left-panel" style="width: 10%;">
        UI settings
        <div style="font-size: 10pt;">
            <input type="checkbox" id="show_names" name="show_names" checked>
            <label for="show_names">Show names</label><br>
            <input type="checkbox" id="show_buttons" name="show_buttons" checked>
            <label for="show_buttons">Show buttons</label><br>
        </div>
    </div>
    
    <div id="diagram" style="width: 80%; display: flex;   flex-direction:
    column; align-items: center;">
        {% include "pid_diagram.html" %}
    </div>

    <div id="right-panel" style="width: 10%;">
        <button onclick="fetch('/start-sequence/1')">SEQUENCE 1</button>
    </div>
</div>

<script>
    // UI SETTINGS
    const show_names = document.getElementById("show_names");
    const show_buttons = document.getElementById("show_buttons");

    show_names.addEventListener("change", () => {
        const names = document.querySelectorAll(".name");
        names.forEach(name => {
            name.style.visibility = show_names.checked ? "visible" : "hidden";
        });
    });

    show_buttons.addEventListener("change", () => {
        const buttons = document.querySelectorAll(".button");
        buttons.forEach(button => {
            button.style.visibility = show_buttons.checked ? "visible" : "hidden";
        });
    });

    // EVENT PARSING
    // Constants
    const VALVE_CLOSED_ANGLE_THRESHOLD = 85;
    const VALVE_OPEN_ANGLE_THRESHOLD = 5;

    // Subscribe to the server-sent events
    const eventSource = new EventSource("/pid-stream");
    eventSource.onmessage = (msg) => {
        const [type, designator, value] = msg.data.split(",");
        // Find corresponding UI element
        const element = document.getElementById(designator);
        // Unknown element
        if (!element) {
            console.error("Element not found: " + designator);
            return;
        }
        // Ball valve
        if (type === "valve") {
            const valve_icon = element.querySelector(".valve-icon");
            const bg_box = element.querySelector(".box");
            const value_element = element.querySelector(".value");
            if (value < VALVE_OPEN_ANGLE_THRESHOLD) {
                // Valve is open
                element.setAttribute("fill", "currentColor");
                element.setAttribute("stroke", "currentColor");
                bg_box.setAttribute("fill", "none");
                value_element.textContent = "";
            } if (value > VALVE_CLOSED_ANGLE_THRESHOLD) {
                // Valve is closed
                element.setAttribute("fill", "none");
                element.setAttribute("stroke", "gray");
                bg_box.setAttribute("fill", "none");
                value_element.textContent = "";
            } else {
                // Valve is in between
                element.setAttribute("fill", "#11111166");
                element.setAttribute("stroke", "#11111166");
                bg_box.setAttribute("fill", "#cc0000");
                value_element.textContent = value + "°";
            }
            return;
        }
        // Pressure or temperature sensor
        if (type == "pres" || type == "temp") {
            const value_element = element.querySelector(".sensor-value");

            value_element.textContent = value;
            return;
        }
    };
</script>

{% endblock body %}

