{% extends "base.html" %}

{% block body %}

<h1>MONOLITH P&ID</h1>
<div style="display: flex;">
    {# ############# SEQUENCES ############## #}
    <div id="left-panel" style="flex: 1 1 15%;">
        maybe some UI controls here (toggling object labels and manual control button)
    </div>
    
    <div id="diagram" style="flex: 1 0 70%;">
        {% include "pid_diagram.html" %}
    </div>

    <div id="right-panel" style="flex: 1 1 15%;">
        <button onclick="fetch('/start-sequence/1')">SEQUENCE 1</button>
    </div>
</div>
{# ############# EVENT PARSING ############## #}
<script>
    // Subscribe to the server-sent events
    const eventSource = new EventSource("/pid-stream");
    eventSource.onmessage = (msg) => {
        const [type, id, value] = msg.data.split(",");
        // Find corresponding UI element
        const element = document.getElementById(id);
        // Unknown element
        if (!element) {
            console.error("Element not found: " + id);
            return;
        }
        // Ball valve
        if (id.endsWith("BV")) {
            const valve_icon = element.querySelector(".valve-icon");
            // TODO: handle angle parsing
            return;
        }
        // Pressure or temperature sensor
        if (id.endsWith("P") || id.endsWith("T")) {
            const value_element = element.querySelector(".value");
            value_element.textContent = value;
            return;
        }
    };
</script>

{% endblock body %}

